<a href="https://colab.research.google.com/github/priyanshgupta1998/Machine_learning/blob/master/python_tactics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add_tw0_nums(x, y): # normal function which returns data
    return x + y

def add_three_nums(x, y, z): # normal function which returns data
    return x + y + z

def get_appropriate_function(num_len): # function which returns functions depending on the logic
    if num_len == 3:
        return add_three_nums
    else:
        return add_tw0_nums


if __name__ == "__main__":
    args = [1, 2, 3]
    num_len = len(args)
    res_function = get_appropriate_function(num_len)
    print(res_function)       # <function add_three_nums at 0x7f8f34173668>
    print(res_function(*args)) # unpack the args, output 6

    args = [1, 2]
    num_len = len(args)
    res_function = get_appropriate_function(num_len)
    print(res_function)       # <function add_tw0_nums at 0x7f1630955e18>
    print(res_function(*args)) # unpack the args, output 3

<function add_three_nums at 0x7f32817bfae8>
6
<function add_tw0_nums at 0x7f32817bf8c8>
3

In [2]:
def summation(nums): # normal function
    return sum(nums)

def main(f, *args): # function as an argument
    result = f(*args)
    print(result)

if __name__ == "__main__":
    main(summation, [1,2,3]) # output 6

6

In [3]:
def add_5():
    five = 5
    def add(arg): # nesting functions
        return arg + five
    return add

if __name__ == '__main__':
    closure1 = add_5()
    print(closure1(1)) # output 6
    print(closure1(2)) # output 7

6
7

In [14]:
def check(f):   #here 'f' refers to 'my_code' function
    def wrapper(*args):
        res = f(*args)
        if isinstance(res, dict):
            print("checked that the return value is dict")
            return res
    return wrapper

@check
def my_code(args):
    return {"lang": args}

print(my_code("python"))

checked that the return value is dict
{'lang': 'python'}

In [18]:
# Python program to illustrate 
# *args for variable number of arguments 
def myFun(*argv):
  # print(type(argv))
  for arg in argv:
    print (arg) 
	
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [19]:
# Python program to illustrate 
# *args with first extra argument 
def myFun(arg1, *argv): 
	print ("First argument :", arg1) 
	for arg in argv: 
		print("Next argument through *argv :", arg) 

myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

In [24]:
# Python program to illustrate 
# *kargs for variable number of keyword arguments 

def myFun(**kwargs):
  # print(type(kwargs))
  for key, value in kwargs.items():
    print ("%s == %s" %(key, value)) 

# Driver code 
myFun(first ='Geeks', mid ='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [25]:
# Python program to illustrate **kargs for 
# variable number of keyword arguments with 
# one extra argument. 

def myFun(arg1, **kwargs): 
	for key, value in kwargs.items(): 
		print ("%s == %s" %(key, value)) 

# Driver code 
myFun("Hi", first ='Geeks', mid ='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [26]:
def myFun(arg1, arg2, arg3): 
	print("arg1:", arg1) 
	print("arg2:", arg2) 
	print("arg3:", arg3) 
	
# Now we can use *args or **kwargs to 
# pass arguments to this function : 
args = ("Geeks", "for", "Geeks") 
myFun(*args) 

kwargs = {"arg1" : "Geeks", "arg2" : "for", "arg3" : "Geeks"} 
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks
arg1: Geeks
arg2: for
arg3: Geeks

In [31]:
def hello_world(k):
    def world(k):
        print(k)
    return world # returning functions

h = hello_world # assigning   --> storing the object of the function in the variable 'h'
h("hello") # assigning

In [42]:
def hello_world(h):
    def world(w):
        print( h, w)
    return world # returning functions

h = hello_world # assigning   --> storing the object of the function in the variable 'h'
x = h("hello") # assigning
print(x)
x("world")

<function hello_world.<locals>.world at 0x7f3280e779d8>
hello world

In [37]:
def calc():
    def world(num):
        print(6+num)
    return world # returning functions

h = calc()   # assigning   --> storing the object of the function in the variable 'h'
h(5) # assigning

11

In [45]:
def func1():
    return 1

def func2():
    return 2

def func3():
    return 3

executing = lambda f: f()
list(map(executing, [func1, func2, func3]))

[1, 2, 3]

In [46]:
# python code to demonstrate working of reduce() 
#reduce() stores the intermediate result and only returns the final summation value.
# importing functools for reduce() 
import functools 
# initializing list 
lis = [ 1 , 3, 5, 6, 2, ] 

# using reduce to compute sum of list 
print ("The sum of the list elements is : ",end="") 
print (functools.reduce(lambda a,b : a+b,lis)) 

# using reduce to compute maximum element from list 
print ("The maximum element of the list is : ",end="") 
print (functools.reduce(lambda a,b : a if a > b else b,lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

In [4]:
def call(x,f):
    return f(x)

# define a function that returns the square
square = lambda x : x*x

# define a function that returns the increment
increment = lambda x : x+1

# define a function that returns the cube
cube = lambda x : x*x*x

# define a function that returns the decrement
decrement = lambda x : x-1

# put all the functions in a list in the order that you want to execute them
funcs = [square, increment, cube, decrement]

# bring it all together. Below is the non functional part. 
# in functional programming you separate the functional and the non functional parts.
from functools import reduce # reduce is in the functools library
print(reduce(call, funcs, 96))

783012621312

In [9]:
# Python3 program to demonstrate the use of 
# choice() method 

# import random 
import random 

# prints a random value from the list 
list1 = [1, 2, 3, 4, 5, 6] 
print(random.choice(list1)) 

# prints a random item from the string 
string = "striver"
print(random.choice(string))

1
r

In [12]:
try:
    print("enter in try ")
    print(1/0)  #got errror here --> exception
    print("leaving from try")
except:
    print("In the except block")
finally:
    print("In the finally block")  #it will run always in all the condition

enter in try
In the except block
In the finally block

In [0]:
while True:
    try:
        user = int(input())
        if user < 0:
            raise ValueError("please give positive number")
        else:
            print("user input: %s" % user)
    except ValueError as e:
        print(e)

In [17]:
class Rocket():
    def __init__(self, name, distance):
        self.name = name
        self.distance = distance

    def launch(self):
        return "%s has reached %s" % (self.name, self.distance)


class MarsRover(Rocket): # inheriting from the base class
    def __init__(self, name, distance, maker):
        Rocket.__init__(self, name, distance) #inheritence
        self.maker = maker

    def get_maker(self):
        return "%s Launched by %s" % (self.name, self.maker)


if __name__ == "__main__":
    x = Rocket("simple rocket", "till stratosphere")
    y = MarsRover("mars_rover", "till Mars", "ISRO")
    print(x.launch())
    print(y.launch())
    print(y.get_maker())

simple rocket has reached till stratosphere
mars_rover has reached till Mars
mars_rover Launched by ISRO

In [18]:
#create an object of an derived class
class Rocket():
    def __init__(self, name, distance):
        self.name = name
        self.distance = distance

    def launch(self):
        return "%s has reached %s" % (self.name, self.distance)


class MarsRoverComp():
    def __init__(self, name, distance, maker):
        self.rocket = Rocket(name, distance) # instantiating the base (create an object and store the data)

        self.maker = maker

    def get_maker(self):
        return "%s Launched by %s" % (self.rocket.name, self.maker)


if __name__ == "__main__":
    z = MarsRover("mars_rover2", "till Mars", "ISRO")
    print(z.launch())
    print(z.get_maker())

mars_rover2 has reached till Mars
mars_rover2 Launched by ISRO

In [19]:
x = "1" if True else "2"
x

'1'

In [30]:
setA = set([1, 2, 3, 4, 5, 6, 7, 7, 7])
print(setA)
setA.add(8)
print(setA)
setA.add((9, 10))
print(setA)
setA.update([11, 12])
print(setA)
setA.update([12, 14], {15, 16})
print(setA)
setA.update((17,18))
print(setA)
k =setA.discard(7)
print(setA)
print(k)
j = setA.remove(8)
print(j)
print(setA)
shallow_copy_of_setA = setA.copy()
print(shallow_copy_of_setA)
shallow_copy_of_setA.clear()
print(shallow_copy_of_setA)
print(setA.pop())
print(setA.pop()) #revome element from the beginning
print(setA)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, (9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, (9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 14, 15, (9, 10), 16}
{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 14, 15, (9, 10), 16, 17, 18}
{1, 2, 3, 4, 5, 6, 8, 11, 12, 14, 15, (9, 10), 16, 17, 18}
None
None
{1, 2, 3, 4, 5, 6, 11, 12, 14, 15, (9, 10), 16, 17, 18}
{1, 2, 3, 4, 5, 6, 11, 12, 14, 15, (9, 10), 16, 17, 18}
set()
1
2
{3, 4, 5, 6, 11, 12, 14, 15, (9, 10), 16, 17, 18}

In [35]:
setA = set([1, 2, 3, 4, 5, 6, 7, 7, 7])
print(setA)
setB= set()
setB.update([1, 2, 3, 4, 5, 10, 15, 22])
print(setB)
print(setA & setB)
print(setA.intersection(setB))
print(setA.difference(setB))
print(setB.difference(setA))
print(setA.isdisjoint(setB))# returns false as both "have common elements"
print(setA.issubset(setB))
print(setA.issuperset(setB))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 10, 15, 22}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{6, 7}
{10, 22, 15}
False
False
False

In [36]:
fruits = ["apples", "oranges", "mangoes"]
for index, fruit in enumerate(fruits):
    print("index is %s" % index)
    print("fruit is %s" % fruit)
    print("###########################")

index is 0
fruit is apples
###########################
index is 1
fruit is oranges
###########################
index is 2
fruit is mangoes
###########################

In [37]:
"abcde".index("c")

2

In [39]:
print(isinstance(2, int))

liss = [1,2,4]
print(isinstance(liss, list))

True
True

In [44]:
langs = ["haskell", "clojure", "apl"]
langs.extend(["scala", "F#"])
print(langs)
k = langs.remove("scala")
print(langs)
print(k)
some_numbers = [5, 4, 3, 1]
j = some_numbers.pop()   #delete from the end of the list
print(j)
print( some_numbers)

s = some_numbers.pop(1)# pop the element at index 1
print( some_numbers)
print(s)

['haskell', 'clojure', 'apl', 'scala', 'F#']
['haskell', 'clojure', 'apl', 'F#']
None
1
[5, 4, 3]
[5, 3]
4

In [45]:
alphabets = {1: 'a'}
print(alphabets.get(1))  # get the value with key 1
# get the value with key 2. Pass “default” as default. Since key 2 does not exist, you get “default” as the return value.
print(alphabets.get(2, "default"))
# get the value with key 2 through direct referencing 
print(alphabets[2])

a
default

KeyError: ignored

In [48]:
person1_information = {'city': 'San Francisco'}
print(person1_information) 
remaining_information = {'name': 'Sam', "food": "shrimps"}

# add the second dictionary remaining_information to personal1_information using the update method
person1_information.update(remaining_information)
print(person1_information)


# delete the key, value pair with the key “food”
del person1_information["food"]
print(person1_information)

# deleting a non existent key gives key error.
del person1_information["non_existent_key"]

{'city': 'San Francisco'}
{'city': 'San Francisco', 'name': 'Sam', 'food': 'shrimps'}
{'city': 'San Francisco', 'name': 'Sam'}

KeyError: ignored

In [49]:
person1_information = {'city': 'San Francisco', 'name': 'Sam', "food": "shrimps"}

# remove a key, value pair with key “food” and default value None
print(person1_information.pop("food", None))
print(person1_information)
# try to delete a nonexistent key. This will return None as None is given as the default value.
print(person1_information.pop("food", None))

shrimps
{'city': 'San Francisco', 'name': 'Sam'}
None