In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
train= pd.read_csv('/home/train_file.csv').copy()
test= pd.read_csv('/home/test_file.csv').copy()

In [7]:
print(train.shape)
train.head(3)

(55399, 17)

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
0,1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793
1,2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852
2,3,1993,Nevada,0,Had their first drink of alcohol before age 13...,other than a few sips,196.0,Female,White,0,"(39.493240390000494, -117.07184056399967)",H41,1,6,2,State,47.8132

In [0]:
test.shape

In [9]:
train.columns

Index(['Patient_ID', 'YEAR', 'LocationDesc', 'Subtopic',
       'Greater_Risk_Question', 'Description', 'Sample_Size', 'Sex', 'Race',
       'Grade', 'GeoLocation', 'QuestionCode', 'StratID1', 'StratID2',
       'StratID3', 'StratificationType', 'Greater_Risk_Probability'],
      dtype='object')

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55399 entries, 0 to 55398
Data columns (total 17 columns):
Patient_ID                  55399 non-null int64
YEAR                        55399 non-null int64
LocationDesc                55399 non-null object
Subtopic                    55399 non-null int64
Greater_Risk_Question       55399 non-null object
Description                 55399 non-null object
Sample_Size                 55399 non-null float64
Sex                         55399 non-null object
Race                        55399 non-null object
Grade                       55399 non-null int64
GeoLocation                 52098 non-null object
QuestionCode                55399 non-null object
StratID1                    55399 non-null int64
StratID2                    55399 non-null int64
StratID3                    55399 non-null int64
StratificationType          55399 non-null object
Greater_Risk_Probability    55399 non-null float64
dtypes: float64(2), int64(7), object(8)
memory usage: 7.2+ MB

In [11]:
train.isna().sum()

Patient_ID                     0
YEAR                           0
LocationDesc                   0
Subtopic                       0
Greater_Risk_Question          0
Description                    0
Sample_Size                    0
Sex                            0
Race                           0
Grade                          0
GeoLocation                 3301
QuestionCode                   0
StratID1                       0
StratID2                       0
StratID3                       0
StratificationType             0
Greater_Risk_Probability       0
dtype: int64

In [12]:
test.isna().sum()/len(test)

Patient_ID               0.000000
YEAR                     0.000000
LocationDesc             0.000000
Subtopic                 0.000000
Greater_Risk_Question    0.000000
Description              0.000000
Sample_Size              0.000000
Sex                      0.000000
Race                     0.000000
Grade                    0.000000
GeoLocation              0.058675
QuestionCode             0.000000
StratID1                 0.000000
StratID2                 0.000000
StratID3                 0.000000
StratificationType       0.000000
dtype: float64

In [13]:
train['sample']=1
test['sample']=0
train.head(3)

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability,sample
0,1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793,1
1,2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852,1
2,3,1993,Nevada,0,Had their first drink of alcohol before age 13...,other than a few sips,196.0,Female,White,0,"(39.493240390000494, -117.07184056399967)",H41,1,6,2,State,47.8132,1

In [14]:
df=pd.concat([train,test])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
print(df.shape)
df.head(3)

In [0]:
df.reset_index(inplace=True,drop=True)    # chnages which has been done must be permanent

In [17]:
print(df.shape)
df.head(3)

(92331, 18)

,Description,GeoLocation,Grade,Greater_Risk_Probability,Greater_Risk_Question,LocationDesc,Patient_ID,QuestionCode,Race,Sample_Size,Sex,StratID1,StratID2,StratID3,StratificationType,Subtopic,YEAR,sample
0,"any form of cocaine, such as powder, crack, or...","(29.760427, -95.369803)",4,7.4793,Ever used cocaine,"Houston, TX",1,H49,Hispanic or Latino,335.0,Female,1,4,0,Local,1,1995,1
1,"at least one drink of alcohol, on at least 1 d...","(29.760427, -95.369803)",4,49.6852,Currently drank alcohol,"Houston, TX",2,H42,Black or African American,382.0,Total,0,3,0,Local,0,1997,1
2,other than a few sips,"(39.493240390000494, -117.07184056399967)",0,47.8132,Had their first drink of alcohol before age 13...,Nevada,3,H41,White,196.0,Female,1,6,2,State,0,1993,1

In [18]:
df['Greater_Risk_Question'].value_counts()   # give the unique one questions

Currently used marijuana                                                                                                     7364
Tried marijuana for the first time before age 13 years                                                                       7141
Had their first drink of alcohol before age 13 years                                                                         7076
Currently drank alcohol                                                                                                      6990
Ever used cocaine                                                                                                            6824
Were offered, sold, or given an illegal drug on school property                                                              6514
Ever used marijuana                                                                                                          6263
Ever injected any illegal drug                                                                                               5916
Ever used inhalants                                                                                                          5798
Ever took steroids without a doctor's prescription                                                                           5760
Ever drank alcohol                                                                                                           5610
Ever used methamphetamines                                                                                                   5542
Ever used heroin                                                                                                             5519
Ever used ecstasy                                                                                                            4469
Usually got the alcohol they drank by someone giving it to them                                                              1451
Reported 10 or more as the largest number of drinks they had in a row                                                        1376
Ever used synthetic marijuana                                                                                                1177
Reported current binge drinking                                                                                               729
Ever took prescription pain medicine without a doctor's prescription or differently than how a doctor told them to use it     643
Ever used hallucinogenic drugs                                                                                                169
Name: Greater_Risk_Question, dtype: int64

In [19]:
df[df['GeoLocation'].isna()].LocationDesc.value_counts()

United States        3732
Navajo                899
New Orleans, LA       460
Shelby County, TN     152
Cherokee Nation       135
Nez Perce              90
Name: LocationDesc, dtype: int64

In [20]:
df[df['LocationDesc']=='United States'].GeoLocation.value_counts()

Series([], Name: GeoLocation, dtype: int64)

In [0]:
n=df[df['LocationDesc']=='United States'].index
for i in n:
    df.loc[i, 'GeoLocation']='(39.7837304, -100.4458825)'

In [0]:
n=df[df['LocationDesc']=='Navajo'].index
for i in n:
    df.loc[i, 'GeoLocation']='(35.1819775, -110.3549451)'

In [0]:
n=df[df['LocationDesc']=='New Orleans, LA'].index
for i in n:
    df.loc[i, 'GeoLocation']='(29.9499323, -90.0701156)'

In [0]:
n=df[df['LocationDesc']=='Shelby County, TN'].index
for i in n:
    df.loc[i, 'GeoLocation']='(35.1782557, -89.8739775)'

In [0]:
n=df[df['LocationDesc']=='Cherokee Nation'].index
for i in n:
    df.loc[i, 'GeoLocation']='(36.1342565, -94.9477014208174)'

In [0]:
n=df[df['LocationDesc']=='Nez Perce'].index
for i in n:
    df.loc[i, 'GeoLocation']='(46.3959861, -116.8072307)'

In [0]:
df[df['GeoLocation'].isna()].LocationDesc.value_counts()

In [28]:
df.isna().sum()

Description                     0
GeoLocation                     0
Grade                           0
Greater_Risk_Probability    36932
Greater_Risk_Question           0
LocationDesc                    0
Patient_ID                      0
QuestionCode                    0
Race                            0
Sample_Size                     0
Sex                             0
StratID1                        0
StratID2                        0
StratID3                        0
StratificationType              0
Subtopic                        0
YEAR                            0
sample                          0
dtype: int64

In [29]:
df['Greater_Risk_Question'].value_counts()

Currently used marijuana                                                                                                     7364
Tried marijuana for the first time before age 13 years                                                                       7141
Had their first drink of alcohol before age 13 years                                                                         7076
Currently drank alcohol                                                                                                      6990
Ever used cocaine                                                                                                            6824
Were offered, sold, or given an illegal drug on school property                                                              6514
Ever used marijuana                                                                                                          6263
Ever injected any illegal drug                                                                                               5916
Ever used inhalants                                                                                                          5798
Ever took steroids without a doctor's prescription                                                                           5760
Ever drank alcohol                                                                                                           5610
Ever used methamphetamines                                                                                                   5542
Ever used heroin                                                                                                             5519
Ever used ecstasy                                                                                                            4469
Usually got the alcohol they drank by someone giving it to them                                                              1451
Reported 10 or more as the largest number of drinks they had in a row                                                        1376
Ever used synthetic marijuana                                                                                                1177
Reported current binge drinking                                                                                               729
Ever took prescription pain medicine without a doctor's prescription or differently than how a doctor told them to use it     643
Ever used hallucinogenic drugs                                                                                                169
Name: Greater_Risk_Question, dtype: int64

In [30]:
df['Grade'].value_counts()

4    27516
3    17208
0    17060
1    16072
2    14475
Name: Grade, dtype: int64

In [31]:
df['QuestionCode'].value_counts()

H48             7364
H47             7141
H41             7076
H42             6990
H49             6824
H58             6514
H46             6263
H57             5916
H50             5798
H55             5760
H40             5610
H52             5542
H51             5519
H53             4469
H43             1451
H45             1376
H54             1177
H44              729
H56              643
QNHALLUCDRUG     169
Name: QuestionCode, dtype: int64

In [32]:
df['Race'].value_counts()

Total                                        37023
White                                        22585
Hispanic or Latino                           12986
Black or African American                    11797
Asian                                         3389
Multiple Race                                 1852
Native Hawaiian or Other Pacific Islander     1606
American Indian or Alaska Native              1093
Name: Race, dtype: int64

In [33]:
df['Sex'].value_counts()

Total     36845
Female    28376
Male      27110
Name: Sex, dtype: int64

In [34]:
df['StratID1'].value_counts()

0    36845
1    28376
2    27110
Name: StratID1, dtype: int64

In [35]:
df['StratificationType'].value_counts()

State        53149
Local        30098
Territory     4228
National      3732
Other         1124
Name: StratificationType, dtype: int64

In [36]:
df['Subtopic'].value_counts()

1    69099
0    23232
Name: Subtopic, dtype: int64

In [37]:
df['YEAR'].value_counts()

2017    11355
2015     9418
2007     9395
2011     9298
2013     9211
2009     8948
2005     8482
2003     6735
2001     4503
1999     4195
1997     4065
1995     3199
1993     2327
1991     1200
Name: YEAR, dtype: int64

In [0]:
data = df.copy()

In [39]:
data.shape

(92331, 18)

In [0]:
jk = '(29.9499323, -90.0701156)'
jk = jk[1:]
print(jk)

In [0]:
jk = '(29.9499323, -90.0701156)'
jk = jk[1:]
print(jk.split(','))

In [0]:
def location(x):
    x=x[1:-1]
    return x.split(',')

In [0]:
GeoLocation=data.GeoLocation.apply(location)

In [0]:
data.head(3)

In [0]:
GeoLocation.values.tolist()[:5]

In [46]:
pd.DataFrame(GeoLocation.values.tolist(),columns=['latitute','longitude']).head(3)

             latitute             longitude
0           29.760427            -95.369803
1           29.760427            -95.369803
2  39.493240390000494   -117.07184056399967

In [0]:
print(data.shape)
data.head(3)

In [48]:
pd.get_dummies(data.StratificationType).head(3)

   Local  National  Other  State  Territory
0      1         0      0      0          0
1      1         0      0      0          0
2      0         0      0      1          0

In [0]:
data = pd.concat([data,pd.get_dummies(data.Greater_Risk_Question),pd.get_dummies(data.QuestionCode),pd.get_dummies(data.Race),pd.get_dummies(data.Sex),pd.get_dummies(data.StratificationType),pd.DataFrame(GeoLocation.tolist(),columns=['latitute','longitude'])],axis=1)

In [0]:
print(data.shape)
data.head(3)

In [0]:
data=data.select_dtypes(exclude='object')

In [52]:
print(data.shape)
data.head(3)

(92331, 66)

,Grade,Greater_Risk_Probability,Patient_ID,Sample_Size,StratID1,StratID2,StratID3,Subtopic,YEAR,sample,...,Total,White,Female,Male,Total,Local,National,Other,State,Territory
0,4,7.4793,1,335.0,1,4,0,1,1995,1,...,0,0,1,0,0,1,0,0,0,0
1,4,49.6852,2,382.0,0,3,0,0,1997,1,...,0,0,0,0,1,1,0,0,0,0
2,0,47.8132,3,196.0,1,6,2,0,1993,1,...,0,1,1,0,0,0,0,0,1,0

In [0]:
train=data[data['sample']==1]
test=data[data['sample']==0]
test.reset_index(inplace=True,drop=True)
train=train.drop(['sample'],axis=1)
test=test.drop(['sample','Greater_Risk_Probability'],axis=1)

In [0]:
print(train.shape , test.shape)

In [0]:
train.head(3)

In [0]:
train_y=train['Greater_Risk_Probability']
train_x=train.drop(['Greater_Risk_Probability'],axis=1)

In [57]:
train_y.head(3)

0     7.4793
1    49.6852
2    47.8132
Name: Greater_Risk_Probability, dtype: float64

In [0]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf = clf.fit(train_x, train_y)

In [0]:
pred=clf.predict(test)

In [0]:
pred

In [0]:
sub=pd.DataFrame()
sub['Patient_ID']=test['Patient_ID']
sub['Greater_Risk_Probability']=pred

In [62]:
sub.head(3)

   Patient_ID  Greater_Risk_Probability
0       55400                   38.2699
1       55401                   35.5500
2       55402                   56.8783

In [0]:
sub.to_csv('/home/submit.csv',index=False)